body {
    font-family: "Open Sans" sans-serif;
    color: rgb(70, 70, 70);
    background-color: white;
}

/*HEADER*/
header {
    height: 64px;
    width: 100%;
}
.header--img {
    padding-left: 24px;
    width: 36px;
    float: left;
}
.header--h2 {
    display: inline-flex;
    margin: 7px 0 0 0;
    font-weight: 300;
    font-size: 22px;
}

.toolbar--list {
    display: inline-flex;
    float: right;
    margin-right: 24px;
    margin-top: 8px;
}

li{
    padding-right: 16px;
    font-size: 18px;
    font-weight: 400;
    list-style-type: none;
}
